<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Questão</title>
</head>
<body>
    <h1>Registrar Questão</h1>

    <form th:object="${questao}" th:action="@{/questoes/novo}" method="post">
        <div>
            <label>Descrição:</label>
            <input type="text" th:field="*{descricao}" required/>
        </div>

        <div>
            <label>Tipo:</label>
            <label th:each="tipo : ${T(com.sqhg.entities.TipoQuestao).values()}">
                <input th:id="${tipo}" type="radio" th:field="*{tipo}" th:value="${tipo}"/>
                <label th:for="${tipo}"><th:block th:text="${tipo.display}"></label>
            </label>
        </div>

        <div id="alternatives-input" style="display: none;">
            <label>Alternatives:</label>
            <div>
              <input type="text" th:field="*{opcoes[0].descricao}" required>
            </div>
            <div>
              <input type="text" th:field="*{opcoes[1].descricao}" required>
            </div>
            <div id="additional-alternatives"></div>
            <button type="button" id="add-alternative">Add Alternative</button>
        </div>

        <div>
            <button type="submit">Save</button>
            <button type="button" id="cancel">Cancel</button>
        </div>
    </form>

    <script rel="javascript" type="text/javascript" th:src="@{/scripts/questao.js}"></script>
</body>
</html>
