<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Administrador</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/cadAdministrador.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script rel="javascript" type="text/javascript" th:src="@{/scripts/menu.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/menu.css}" />

</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

<body class="overflow-scroll">
    <div class="flex flex-row">
        <div class="content flex-grow">
            <div style="background-color: #fff" class="flex justify-center items-center md:py-10 sm:py-6">
                <h1 class="dark:text-black text-center titulo">Editar Administrador</h1>
            </div>
            <form th:href="@{/administradores/editar/{id}(id=${administrador.id})}" th:object="${administrador}"
                method="post">
                <div class="flex flex-col justify-center items-center pt-4 space-y-2 h-auto overflow-y-auto">
                    <div class="flex flex-row justify-center w-4/5 pt-2">
                        <div class="flex items-center justify-center h-10 w-48 purple-color rounded-l-full text-white">
                            <div class="fonte-poppins sm:text-sm">Crachá</div>
                        </div>
                        <div class="input-container rounded-lg w-3/6">
                            <input
                                class="w-full h-10 border-2 l-roxo rounded-l-none rounded-r-full focus:outline-none px-3 l-bege fonte-poppins "
                                type="number" placeholder="" th:field="*{cracha}">
                            <div th:if="${#fields.hasErrors('cracha')}" th:errors="*{cracha}"
                                class="invalid-feedback text-red-600 fonte-poppins h-0"></div>
                        </div>
                    </div>

                    <div class="flex flex-row justify-center w-4/5 pt-4">
                        <div class="flex items-center justify-center h-10 w-48 purple-color rounded-l-full text-white">
                            <div class="fonte-poppins">Nome</div>
                        </div>
                        <div class="input-container rounded-lg w-3/6">
                            <input
                                class="w-full h-10 border-2 l-roxo rounded-l-none rounded-r-full focus:outline-none px-3 l-bege fonte-poppins"
                                type="text" placeholder="" th:field="*{nome}">
                            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
                                class="invalid-feedback text-red-600 fonte-poppins h-0"></div>
                        </div>
                    </div>

                    <div class="flex flex-row justify-center w-4/5 pt-4">
                        <div class="flex items-center justify-center align-items-center h-10 w-48 purple-color rounded-l-full text-white"
                            type="date">
                            <div class="fonte-poppins">Data de Nascimento</div>
                        </div>
                        <div class="input-container rounded-lg w-3/6">
                            <input
                                class="w-full h-10 border-2 l-roxo rounded-l-none rounded-r-full focus:outline-none px-3 l-bege fonte-poppins"
                                type="date" placeholder="" th:field="*{nascimento}">
                            <div th:if="${#fields.hasErrors('nascimento')}" th:errors="*{nascimento}"
                                class="invalid-feedback text-red-600 fonte-poppins h-0"></div>
                        </div>
                    </div>

                    <div class="flex flex-row justify-center w-4/5 pt-4">
                        <div class="flex items-center justify-center h-10 w-48 purple-color rounded-l-full text-white">
                            <div class="fonte-poppins ">E-mail</div>
                        </div>
                        <div class="input-container rounded-lg w-3/6">
                            <input
                                class="w-full h-10 border-2 l-roxo rounded-l-none rounded-r-full focus:outline-none px-3 l-bege fonte-poppins"
                                type="email" placeholder="" th:field="*{email}">
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                class="invalid-feedback text-red-600 fonte-poppins h-0"></div>
                        </div>
                    </div>

                    <div class="flex flex-row justify-center w-4/5 pt-4">
                        <div class="flex items-center justify-center h-10 w-48 purple-color rounded-l-full text-white">
                            <div class="fonte-poppins">Telefone</div>
                        </div>
                        <div class="input-container rounded-lg w-3/6">
                            <input
                                class="w-full h-10 border-2 l-roxo rounded-l-none rounded-r-full focus:outline-none px-3 l-bege fonte-poppins"
                                type="tel" placeholder="" th:field="*{telefone}">
                            <div th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"
                                class="invalid-feedback text-red-600 fonte-poppins h-0"></div>
                        </div>
                    </div>

                    <div class="flex flex-row justify-center w-4/5 pt-4">
                        <div class="flex items-center justify-center h-10 w-48 purple-color rounded-l-full text-white">
                            <div class="fonte-poppins">Senha</div>
                        </div>
                        <div class="input-container rounded-lg w-3/6">
                            <input
                                class="w-full h-10 border-2 l-roxo rounded-l-none rounded-r-full focus:outline-none px-3 l-bege fonte-poppins"
                                type="password" placeholder="" th:field="*{senha}">
                            <div th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"
                                class="invalid-feedback text-red-600 fonte-poppins h-0"></div>
                        </div>
                    </div>

                    <div class="flex flex-row justify-center w-4/5 pt-4">
                        <div class="flex items-center justify-center h-10 w-48 purple-color rounded-l-full text-white">
                            <div class="fonte-poppins">Confirmação de Senha</div>
                        </div>
                        <div class="input-container rounded-lg w-3/6">
                            <input
                                class="w-full h-10 border-2 l-roxo rounded-l-none rounded-r-full focus:outline-none px-3 l-bege fonte-poppins"
                                type="password" placeholder="" th:field="*{confirmacaoSenha}">
                            <div th:if="${#fields.hasErrors('confirmacaoSenha')}" th:errors="*{confirmacaoSenha}"
                                class="invalid-feedback text-red-600 fonte-poppins h-0"></div>
                        </div>
                    </div>
                    <div class="flex flex-row items-center justify-end w-3/5 pb-5 px-8 pt-6">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <a type="button" th:href="@{/administradores}" style="background-color: #5c2472"
                                class="flex h-12 w-32 items-center justify-center text-white rounded-lg ml-2 fonte-poppins">
                                <div class="flex">
                                    Cancelar
                                </div>
                            </a>
                        </div>
                        <div>
                            <button type="submit" style="background-color: #5c2472"
                                class="appearance-none h-12 w-32 text-center text-white rounded-lg ml-2 fonte-poppins">Gravar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:insert="~{menu :: menu}"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
</body>

</html>