<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditarAdm</title>
</head>

<body>
    <h1>Administrador</h1>
    <div name="admin" th:each="adm : ${administrador}"></div>
    <div th:text="${adm.cracha}"></div>
    <div th:text="${adm.nome}"></div>
    <div th:text="${adm.telefone}"> </div>
    <div th:text="${adm.email}"></div>
</body>

</html>