<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/styles/novoModeloQuestionario.css}" />
    <title>Criar Nova Questão</title>
</head>

<body>


  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/criarQuestao">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listarQuestao">Listagem</a>
          </li>
          
        </ul>
       
      </div>
    </div>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Questão</th>
        <th scope="col">Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr data-th-each="questao : ${questoes}">
        <td data-th-text="${questao.id}"></td>
        <td data-th-text="${questao.descricao}"></td>
        <td data-th-text="${questao.tipo}"></td>
        <td>
          <a th:href="@{'/edit/'+${questao.id}}" >Editar</a>
        </td>
      </tr>
     
    </tbody>
  </table>

</body>
</html>