<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script rel="javascript" type="text/javascript" th:src="@{/scripts/login.js}"></script>
</head>

<body class="bg-purple-900">
    <section class="h-screen flex flex-col tela-inteira ">
        <div class="h-fit xl:h-3/4 flex justify-center tela-75 pb-10">
            <div class="w-full sm:w-fit xl:w-1/3 h-full justify-center elemento-meio space-y-10 p-10">
                <div class="h-60 flex justify-center imagem">
                    <img th:src="@{/images/logoPrati.png}" alt="">
                </div>
                <div class="h-fit formulario-uteis space-y-5">
                    <form th:action="@{/login}" method="post" role="form">
                        <div class="formulario h-fit lg:h-5/6 flex items-center flex-col justify-center space-y-5">
                            <div class="w-full flex flex-col space-y-3 items-center h-1/3 ">
                                <input name="cracha"
                                    class="w-3/4 sm:w-full lg:w-3/4 xl:w-1/2 rounded focus:outline-none bg-indigo-700 text-white"
                                    type="text" placeholder=" Crachá">
                                <input name="senha" type="password"
                                    class="w-3/4 sm:w-full lg:w-3/4 xl:w-1/2 rounded focus:outline-none bg-indigo-700 text-white"
                                    placeholder=" Senha">
                            </div>
                            <div class="flex items-center justify-center w-full h-2/3">
                                <button type="submit"
                                    class="w-fit h-fit py-1 px-11 bg-white roundedbg-indigo-700 text-white">Entrar
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="flex flex-col h-2/5 uteis text-center text-white space-y-2">
                        <a href="#">Esqueceu sua senha?</a>
                        <a th:href="@{/login/reponderquestionario}">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="error-message fixed top-5 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white border-2 border-red-500 text-red-600 px-5 py-2 rounded z-50"
            id="errorDiv" th:if="${param.error}">
            <span class="block sm:inline">Usuário ou Senha incorretos</span>
        </div>
        <div class="h-fit xl:h-1/4 flex justify-center items-center ">
            <div
                class="flex flex-row xl:flex-row sm:flex-col xl:space-x-20 md:flex-row items-center text-center space-y-10 xl:space-y-0">
                <div class="flex flex-col w-5/6 xl:w-1/4 items-center justify-center">
                    <div class="w-24 md:w-20">
                        <img th:src="@{/images/atendimento-vendas.png}" alt="">
                    </div>
                    <span class="text-white ">Atendimento Vendas</span>
                    <span class="text-white rounded-md border border-white px-2">0800 072 1331</span>
                </div>
                <div class="bloco flex flex-row xl:flex-row sm:flex-col w-5/6 xl:w-2/4 items-center justify-center">
                    <div
                        class="w-full flex md:flex-row xl:flex-row items-center justify-between space-y-3 xl:space-y-0 xl:space-x-5">
                        <div class="imagem_texto_1 w-1/2 flex flex-col items-center justify-center">
                            <div class="w-24 md:w-20">
                                <img th:src="@{/images/atendimento-cac.png}" alt="">

                            </div>
                            <span class="text-white">Central de atendimento ao consumidor</span>
                        </div>
                        <div class="imagem_texto_2 w-1/2 flex flex-col items-center justify-center">
                            <div class="w-24 md:w-20">
                                <img th:src="@{/images/medico_icon.png}" alt="">

                            </div>
                            <span class="text-white">Central de atendimento aos médicos</span>
                        </div>
                    </div>
                    <div class="numero w-full items-center justify-center">
                        <div class="text-white rounded-md border border-white ml-10 mr-10">0800 709 9333</div>
                    </div>
                </div>
                <div class="flex flex-col w-5/6 xl:w-1/4 items-center justify-center">
                    <div class="w-24 md:w-20">
                        <img th:src="@{/images/atendimento-vendas.png}" alt="">
                    </div>
                    <span class="text-white">Atendimento Geral</span>
                    <span class="text-white rounded-md border border-white px-2">45 2103-1166</span>
                </div>
            </div>
        </div>
    </section>
</body>

</html>