<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Modelo de Questionário</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div>
        <div>
            <div class="bg-red-100">
                <label>Nome do Questionário</label>
            </div>
            <div>
                <input name="chave" id="color" type="text"
                class="w-3/4 sm:w-full lg:w-3/4 xl:w-3/5 rounded" placeholder=" Avalição dos Diretores">
            </div>
        </div>
        <div>
            
        </div>
        <div>
            
        </div>
        <div>
            
        </div>
        <div>
            
        </div>
        <div>
            
        </div>
        <div>
            
        </div>
    </div>
</body>
</html>