<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questao Aberta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/responder.css}" />
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/styles/responder.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />

</head>

<body>
    <nav class="menu-lateral">
        <div class="flex justify-center pb-5">
            <img th:src="@{/images/logoPrati.png}" class=" w-36 pr-3">
        </div>
    </nav>
    <h1 class="flex justify-center items-center py-10 text-3xl bg-[#FFF]">
        Avaliação de Superiores</h1>

    <section>
        <div class="items-center justify-between pt-6 flex flex-col">
            <div class="sm:w-2/4 md:w-3/5 lg:w-3/5 2xl:w-2/5 pt-3 justify-center items-center">
                <div class="flex items-center justify-between">
                    <div>
                        #Questão
                    </div>
                    <div>
                        #Nome do Avaliado
                    </div>
                </div>
            </div>
            <form th:action="@{/testesalvarresposta}" method="post">
                <div class="justify-center items-center pt-6 flex flex-col">
                    <div id="questao" class="flex justify-center items-center">
                        #Estamos te ouvindo. Deixe um comentário sobre seu superior!
                    </div>
                    <input id="resposta" name="opniao" type="text" placeholder="Digite sua opinião!">
                </div>
            </form>
        </div>
        <div class="items-center justify-between pt-6 flex flex-col">
            <div class="sm:w-2/4 md:w-3/5 lg:w-3/5 2xl:w-2/5 pt-3 justify-center items-center">
                <div class="flex justify-between">
                    <div>
                        <button id="fundo1" method="#" class="w-fit h-fit py-1 px-6 bg-white rounded">Anterior</button>
                    </div>
                    <div class="col-start-9 col-span-2 w-fit">
                        <button id="fundo1" onclick="openPopup()"
                            class="w-fit h-fit py-1 px-6 bg-white rounded">Finalizar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div id="popup" class="hidden flex-col">
        <div>
            <h1 class="text-md text-justify">Finalizar questionário e enviar questões?</h1>
        </div>
        <div class="flex justify-items items-center flex-row-reverse pt-20 gap-x-2">
            <form th:action="@{/administradores/excluir/{id}(id=${adm.id})}"
                method="post">
                <div class="w-flex justify-between">
                    <button type="submit" id="fundo1" onclick="closePopup()"
                        class="w-fit h-fit py-1 text-white px-3 rounded">Sim</button>
                </div>
            </form>
            <div class="w-flex">
                <button onclick="closePopup()" id="fundo1"
                    class="w-fit h-fit py-1 text-white px-3 rounded">Não</button>
            </div>
        </div>
    </div>


    <script>
        function openPopup() {
            document.getElementById('popup').style.display = 'block';
        }
        function closePopup() {
            var popup = document.getElementById("popup");
            popup.style.display = "none";
        }
    </script>
</body>

</html>