<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questao Alternativa</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/responder.css}" />
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/styles/responder.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    <nav class="menu-lateral">
        <div class="flex justify-center pb-5">
            <img th:src="@{/images/logoPrati.png}" class=" w-36 pr-3">
        </div>
    </nav>
    <h1 class="flex justify-center items-center py-10 text-3xl bg-[#FFF]">
        Avaliação de Superiores</h1>

    <section>
        <div class="items-center justify-between pt-6 flex flex-col">
            <div class="sm:w-2/4 md:w-3/5 lg:w-3/5 2xl:w-2/5 pt-3 justify-center items-center">
                <div class="flex items-center justify-between">
                    <div>
                        #Questão
                    </div>
                    <div>
                       <span>[[${administrador}]]</span> 
                    </div>
                </div>
            </div>
            <div class="sm:w-2/4 md:w-3/5 lg:w-3/5 2xl:w-2/5 pt-3 justify-center items-center">
                <form th:action="@{/respostaAlternativas}" method="post">
                    <div class="justify-center items-center pt-12 flex flex-col">
                        <div id="questao" class="flex justify-center items-center">
                            <span>[[${question.descricao}]]</span>
                        </div>
                        <div id="resposta" class="columns-3 pt-1">
                            <div class="ml-2" th:each="alternativa : ${alternativas}">
                                <input type="checkbox" name="alternativasSelecionadas" th:value="${alternativa.id}">
                                <label th:text="${alternativa.descricao}"></label>
                            </div>
                        </div>

                    </div>
                    <div class="flex items-center justify-between pt-6">
                        <button id="fundo1" class="w-fit h-fit py-1 px-6 bg-white rounded">Anterior</button>
                        <button type="submit" id="fundo1"
                            class="w-fit h-fit py-1 px-6 bg-white rounded">Próxima</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>