@tailwind base;
@tailwind components;
@tailwind utilities;

.fonte-poppins {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #D8D8D9;
}

.titulo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}

.invalid-feedback {
    font-size: 10px;
}

.l-bege {
    background-color: #F3F3F3;
}

.div-form {
    background-color: #D9D9D9;
    position: absolute;
}

.purple-color {
    background-color: #5C2472;
}

.l-roxo {
    border: solid #5C2472;
}

/* sidebar */
nav * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Outfit', sans-serif;
}

nav.menu-lateral {
    width: 5%;
    height: 100%;
    background-color: #5c2472;
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1750px) {
    nav.menu-lateral {
        width: 90px;
    }

    nav.menu-lateral:hover {
        width: 300px;
    }
}

@media (max-width: 450px) {
    nav.menu-lateral {
        display: none;
    }

    nav.menu-lateral:hover {
        display: none;
    }
}


@media (max-width: 1250px) {
    nav.menu-lateral {
        width: 70px;
    }

    nav.menu-lateral:hover {
        width: 200px;
    }
}

@media (min-width: 1250px) and (max-width:1749px) {
    nav.menu-lateral {
        width: 80px;
    }

    nav.menu-lateral:hover {
        width: 250px;
    }
}

nav #spans {
    display: none;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}


nav ul {
    height: 100%;
    list-style-type: none;
}

nav ul li.item-menu {
    color: #fff;
    text-decoration: none;
    display: flex;
}

nav #sidebar-toggle-item {
    display: none;
}