@tailwind base;
@tailwind components;
@tailwind utilities;

#quantpag {
    width: 60px;
    border-radius: 8px;
}

.titulo {

    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}

.alert {
    width: 40%;
}

#fundo {
    background-color: #5c2472;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.botao {
    background-color: #5c2472;
    color: white;
    text-align: center;
    border-radius: 10px;
}

#botao-action {
    background-color: #5c2472;
    color: white;
    text-align: center;
    border-radius: 10px;
}

#botaoExibirSpan {
    background-color: #5c2472;
    color: white;
    text-align: center;
    border-radius: 10px;
}

input:focus {
    outline: none;
}

input {
    outline: none;
}


body {
    background-color: #D8D8D9;
}


table {
    border-collapse: separate;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 8px;
    border-style: hidden;
    box-shadow: 0 0 0 3px #5c2472;
    background-color: white;
    padding: 5px;
    outline: none;
}

input {
    border-radius: 8px;
}

#pesquisa {
    border-collapse: separate;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 8px;
    border-style: hidden;
    box-shadow: 0 0 0 3px #5c2472;
    background-color: white;
}

th,
td {
    flex: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border: solid #5c2472 3px;
    height: 35px;
}

#popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 180px;
    padding: 15px;
    border: solid 1px #5c2472;
    background: white;
    display: none;
}


#fundo1 {
    background-color: #5c2472;
    text-align: center;
    border-radius: 5px;
    color: black;
}

/* sidebar */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
}

nav.menu-lateral {
    width: 5%;
    height: 100%;
    background-color: #5c2472;
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1750px) {
    nav.menu-lateral {
        width: 90px;
    }

    nav.menu-lateral:hover {
        width: 300px;
    }
}

@media (max-width: 450px) {
    nav.menu-lateral {
        display: none;
    }

    nav.menu-lateral:hover {
        display: none;
    }
}


@media (max-width: 1250px) {
    nav.menu-lateral {
        width: 70px;
    }

    nav.menu-lateral:hover {
        width: 200px;
    }
}

@media (min-width: 1250px) and (max-width:1749px) {
    nav.menu-lateral {
        width: 80px;
    }

    nav.menu-lateral:hover {
        width: 250px;
    }
}

#spans {
    display: none;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    color: #fff;
    text-decoration: none;
    display: flex;
}

#sidebar-toggle-item {
    display: none;
}