body {
    background-color: #5c2472;
}

#color {
    background-color: #853a9e;
    color: white;
}

.error-message {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 2px solid #ff0000;
    color: #ba0000;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 9999;
}
