@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #D9D9D9;
}


#color {
    background-color: #F3F3F3 !important;
    color: black;
}

#tipoquestao {
    background-color: #D9D9D9;
    color: black;
}
#container {
    display: flex;
    justify-content: center;
    /* centraliza as divs horizontalmente */
}

#div.menu-bar ul ul {
    display: none;
}

#div.menu-bar li:hover>ul {
    display: block;
}

#i-caret {}

#fundo {
    background-color: #5c2472;
    border-right: 5px;
    color: white;

}

.botao {
    background-color: #5c2472;
    color: white;
    text-align: center;
    border-radius: 10px;
}


.background {

    background-color: #D8D8D9;
    border-radius: 0.375rem;
}

table {
    border-collapse: separate;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #5c2472;
    background-color: white;
    padding: 1px;

}

input {
    border-radius: 8px;
}

#pesquisa {
    border-collapse: separate;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 8px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #5c2472;
    background-color: white;
}

th,
td {
    border-collapse: separate;
    padding: 6px 0px;
    text-align: center;
    border: solid #5c2472 2px;
}

th {

    text-align: center;
    background-color: #5c2472;
    color: #fff;
}
