@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #D9D9D9;
}

#fundo {
    background-color: #5C2472;
    color: #D9D9D9;

}

#color {
    background-color: #F3F3F3 !important;
    color: black;
}

#tipoquestao {
    background-color: #D9D9D9;
    color: black;
}
#container {
    display: flex;
    justify-content: center;
    /* centraliza as divs horizontalmente */
}

#div.menu-bar ul ul {
    display: none;
}

#div.menu-bar li:hover>ul {
    display: block;
}

