@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #D9D9D9;
}

#container {
    display: flex;
    justify-content: center;
    /* centraliza as divs horizontalmente */
}

#div.menu-bar ul ul {
    display: none;
}

#div.menu-bar li:hover>ul {
    display: block;
}


table {
    border-collapse: separate;
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #5c2472;
    background-color: white;
}

th,
td {
    border-collapse: separate;
    padding: 6px 4px;
    text-align: center;
    border: solid #5c2472 2px;
    min-width: 20px;
}

th {
    text-align: center;
    background-color: #5c2472;
    color: #fff;
}

/* #myPopup {
  display: none;
} */

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 180px;
    padding: 15px;
    border: solid 1px #5c2472;
    background: white;
    display: none;
}

#botao-action,
#cancel,
#criar,
#save,
#add-alternative,
#fundo1 {
    background-color: #5c2472;
    text-align: center;
    border-radius: 5px;
    color: white;
}

button {
    background: #5c2472;
    border: solid #5c2472 2px;
}

input.form-control {
    display: none;
}

/* sidebar */ * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
}

nav.menu-lateral {
    width: 5%;
    height: 100%;
    background-color: #5c2472;
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1750px) {
    nav.menu-lateral {
        width: 90px;
    }

    nav.menu-lateral:hover {
        width: 300px;
    }
}

@media (max-width: 450px) {
    nav.menu-lateral {
        display: none;
    }

    nav.menu-lateral:hover {
        display: none;
    }
}


@media (max-width: 1250px) {
    nav.menu-lateral {
        width: 70px;
    }

    nav.menu-lateral:hover {
        width: 200px;
    }
}

@media (min-width: 1250px) and (max-width:1749px) {
    nav.menu-lateral {
        width: 80px;
    }

    nav.menu-lateral:hover {
        width: 250px;
    }
}

#spans {
    display: none;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    color: #fff;
    text-decoration: none;
    display: flex;
}

#sidebar-toggle-item {
    display: none;
}