@tailwind base;
@tailwind components;
@tailwind utilities;

#questao {
    background-color: #5c2472;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #5c2472;
    width: 700px;
    height: 100px;
    color: #f0f0f0;
}

#resposta {
    background-color: #f0f0f0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #5c2472;
    width: 700px;
    height: 115px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
    background-color: #D9D9D9;
}

nav.menu-lateral {
    width: 90px;
    height: 100%;
    background-color: #5c2472;
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
}

span {
    display: none;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}


ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    color: #fff;
    text-decoration: none;
    display: flex;
}

#sidebar-toggle-item {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 180px;
    padding: 15px;
    border: solid 1px #5c2472;
    background: white;
    display: none;
}

#botao-action,
#fundo1 {
    background-color: #5c2472;
    text-align: center;
    border-radius: 5px;
    color: white;
}

#botao {
    border-radius: 10px;
    margin: 11px;
    margin-top: 5px;
    height: 48px;
    width: 48px;
}